/* important default settings */
body,
html {
  height: 100%;
  margin: 0;
  /* use the following only if you are able to scroll past the image to see a white area (this is the <body> peeking out) above or below the image */
  overflow: hidden;
}

.background {
  /* image url  */
  background-image: url('../images/bg-index.png');

  /* make the image full height */
  height: 100%;

  /* center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* use the following only if if you are able to scroll past the image to see a white area (this is the <body> peeking out) above or below the image */
  overflow: hidden;
}



